<!-- @include('../partials/components/main-nav.html') -->

<nav class="main-nav @classMode">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        коробка
      </a>
      <div class="nav-child">
        <ul class="nav-child__list">
          <li class="nav-child__item">
            <span class="nav-child__title">ОСНОВНОЙ ФУНКЦИОНАЛ</span>
            <ul class="nav-child__sub">
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ОСНОВНОЕ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ОБЩИЙ ФУНКЦИОНАЛ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ПРОДАЖИ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ПРОЕКТНАЯ РАБОТА</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">УПРАВЛЕНИЕ ТОРГОВЛЕЙ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">КОММУНИКАЦИЯ С КЛИЕНТОМ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">МАРКЕТИНГ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ДОКУМЕНТООБОРОТ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">УПРАВЛЕНИЕ КАДРАМИ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ФИНАНСЫ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ОН-ЛАЙН ОПЛАТА</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">КОРПОРАТИВНЫЕ ПРИЛОЖЕНИЯ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">NO-CODE ИНСТРУМЕНТЫ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">АНАЛИТИКА</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">АДМИНИСТРИРОВАНИЕ</a>
              </li>
            </ul>
          </li>
          <li class="nav-child__item">
            <span class="nav-child__title">ДОПОЛНИТЕЛЬНЫЕ ПАКЕТЫ</span>
            <ul class="nav-child__sub">
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">КЛИЕНТСКИЙ ПОРТАЛ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ПАРТНЕРСКИЙ ПОРТАЛ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ФИЛИАЛЫ И ОТДЕЛЫ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ИНСТРУМЕНТЫ РАЗРАБОТЧИКА</a>
              </li>
            </ul>
          </li>
          <li class="nav-child__item">
            <span class="nav-child__title">ТЕХНИЧЕСКАЯ ИНФОРМАЦИЯ</span>
            <ul class="nav-child__sub">
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">АРХИТЕКТУРА СИСТЕМЫ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">БЕЗОПАСНОСТЬ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ИСТОРИЯ РАЗВИТИЯ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">СЕРТИФИКАТЫ КАЧЕСТВА</a>
              </li>
            </ul>
          </li>
          <li class="nav-child__item">
            <span class="nav-child__title">ПРИЛОЖЕНИЯ</span>
            <ul class="nav-child__sub">
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">ANDROID ПРИЛОЖЕНИЕ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">IOS ПРИЛОЖЕНИЕ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">WINDOWS ПРИЛОЖЕНИЕ</a>
              </li>
              <li class="nav-child__sub-item">
                <a href="#" class="nav-child__sub-link">MACOS ПРИЛОЖЕНИЕ</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="nav-child__bottom">
          <div class="nav-child__wrapp">
            <div class="nav-child__text">
              <p class="nav-child__deskr">
                УЗНАЙТЕ БОЛЬШЕ О ВОЗМОЖНОСТЯХ
                <span>PERFECTUM CRM+ERP</span>
              </p>
              <span class="nav-child__subtitle">МНОЖЕСТВО МОДУЛЕЙ И ПРИЛОЖЕНИЙ ДОСТУПНЫХ СРАЗУ</span>
            </div>
            <img class="nav-child__icon" width="479" height="282" src="/img/index/service.png" alt="image">
          </div>
        </div>
      </div>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        Облако
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        Стоимость
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        Услуги
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        Партнеры
      </a>
    </li>
  </ul>
</nav>
