<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <link rel="shortcut icon" href="img/sprite/fav.svg" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WORK AM</title>

    <link rel="preload" href="fonts/DecimaNovaProLight.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/DecimaNovaPro.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/DecimaNovaProBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/DecimaNovaProHeavy.woff" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>
